<nav class="navbar">
  <div class="navbar-brand">
    <h2>Hotel Las americas</h2>
  </div>
  <ul class="navbar-menu">
    <li><a routerLink="/reservas" routerLinkActive="active">Reservas</a></li>
    <li><a routerLink="/huespedes/nuevo" routerLinkActive="active">Registrar Huésped</a></li>
    <li><a routerLink="/huespedes/buscar" routerLinkActive="active">Buscar Huésped</a></li> 
    <li><a routerLink="/contactos" routerLinkActive="active">Contactos</a></li>
  </ul>
  <div class="navbar-user">
    <span>Fernando Sejas</span>
  </div>
</nav>